.container {
  max-width: 90%;
  margin: 3rem auto;
  display: flex;
  gap: 4rem;
  flex-wrap: nowrap;
}

.div1,
.div2 {
  max-width: 100%;
}
.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .div1,
  .div2 {
    max-width: 100%;
    flex: 1 1 100%;
  }
}
