.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px; /* Increased width */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modalTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .primaryButton,
  .secondaryButton {
    flex: 1;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
  }
  
  .primaryButton {
    background-color: white;
    color: #00bfa5;
    border: 2px solid #00bfa5;
  }
  
  .primaryButton:hover {
    background-color: #00bfa5;
    color: white;
  }
  
  .secondaryButton {
    background-color: #00bfa5;
    color: white;
    border: none;
  }
  
  .secondaryButton:hover {
    background-color: white;
    color: #00bfa5;
  }
  
  @media (max-width: 600px) {
    .buttonContainer {
      flex-direction: column;
    }
  
    .primaryButton,
    .secondaryButton {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  